html{
    font-size: 16px;
}
body{
    background-color: #696868;
    font-family: Calibri Light;
    padding: 15px 30px;
}
h1, h2, h3, h4 ,h5{
    font-family: Calibri;
    font-weight: normal;
}
h1{
    font-size: 2rem;
    margin: 20px 0;
}
h2{
    font-size: 2.5ch;
    margin: 18px 0;
}
h3{
    font-size: 2rem;
    margin: 15px 0;
}
h4{
    font-size: 1.5rem;
    margin: 10px 0;
}
h5{
    font-size: 1rem;
    margin: 5px 0;
}
p{
    margin: 15px 0px;
}
.html{
    font-family: "Source Code Pro";
    color: #ff8800;
}
.css{
    font-family: 'Consolas';
    color: teal;
}
div{
    display: grid;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}
div div{
    background-color: #fff2df;
    box-shadow: 0 0 25px 5px #0000001f;
}

.header{
    color: white;
    background-color: transparent;
}
.grid-header{
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 15px 30px;
    margin-bottom: 30px;
}
.grid-header .introduction{
    grid-column: 1 / 3;
    background-color: white;
    box-shadow: none;
}
.grid-header .one{
    grid-column: 1 / 3;
}
.grid-header .two{
    grid-row: 3 / 5;
}

.example-1{
    background-color: orange;
    opacity: 80%;
}
.example-2{
    background-color: teal;
    opacity: 80%;
}
.example-3{
    background-color: darkred;
    opacity: 80%;
}
.example-4{
    background-color: cornflowerblue;
    opacity: 80%;
}
.example-5{
    background-color: darkslategray;
    opacity: 80%;
}
.example-6{
    background-color: khaki;
    opacity: 80%;
}
.example-7{
    background-color: indigo;
    opacity: 80%;
}


button,
.btn {
    cursor: pointer;
    font: inherit;
    padding: 1.5rem 1.5rem  1.5rem  1.5rem;
    background-color: #7c61af;
    border: 1px solid #350490;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-left: auto 
    
}


button:hover,
.btn:hover {
    background-color: #dd83e9;
    border-color: #350490;
    
}
