<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="UTF-8">
    <title>SmartHomeWeb - Startseite</title>
    <!--
    <link rel="stylesheet" href="../../static/web/styles/base.css">
    <link rel="stylesheet" href="../../static/web/styles/smarthomestyles_static.css">
    -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--
        https://getbootstrap.com/docs/5.3/getting-started/javascript/#data-attributes

    -->
</head>

<body>
    <div class="sensors">
        <h1>Aktive Sensoren:</h1>
        <ul>
            {% for sensor in sensorlist %}
            <li>{{ sensor.sen_id }},
                {{sensor.sen.sen_raum}},
                {{sensor.sen_ip}},
                <a href="{{sensor.sen_id}}/">
                    {{sensor.sen_id}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
