<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="UTF-8">
    <title>SmartHomeWeb - Startseite</title>
    <!--
    <link rel="stylesheet" href="../../static/web/styles/base.css">
    <link rel="stylesheet" href="../../static/web/styles/smarthomestyles_static.css">
    -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--
        https://getbootstrap.com/docs/5.3/getting-started/javascript/#data-attributes

    -->
</head>

<body>
    <div class="temperaturen">
        <h1>Temperaturen:</h1>
        <div class="mb-3">
            <form method="post" action="">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="Filter...">
            </form>
        </div>
        <ul>
            {% for temp in tempslist %}
            <li>
                {{ temp.id }},
                {{ temp.temperatur }},
                {{temp.sensor.sen_raum}},
                {{temp.datum}},
                <a href="{{temp.sensor.id}}/">
                    Details...
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>